body {
  overflow-x: hidden !important;
}
:root,
body,
html {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
@media (max-width: 700px) {
  html {
    font-size: 50%;
  }
}
div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
p,
img,
label,
span,
li,
ul,
nav,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  vertical-align: baseline;
  background: transparent;
}
body {
  font-family: Arial, sans-serif;
}
